

<div id="example">
  <ul id="menu">
                <li>
                    Products
                    <ul >
          <li  label="textName" fieldType="CONTROL_TEXT" (click)="forDiv($event)">textName</li>
          <li  label="List" fieldType="CONTROL_DROPDOWN" (click)="forDiv($event)">List</li>
          <li  label="operation" fieldType="CONTROL_OPERATOR" (click)="forDiv($event)">operation</li>
          <li  label="dateTime" fieldType="CONTROL_DATETIME" (click)="forDiv($event)">dateTime</li>
          <li  label="bool" fieldType="CONTROL_BOOLEAN" (click)="forDiv($event)">bool</li>
          <li  label="tag" fieldType="CONTROL_TAG" (click)="forDiv($event)">tag</li>
          <li  label="textOp" fieldType="CONTROL_textOp" (click)="forDiv($event)">textOp</li>
                  </ul>
             </li>
        </ul>
      <input type="button" id="getAll" value="GET VALUES" onclick="getValues();">
      <input type="button" id="clearAll" value="CLEAR ALL" onclick="buttonClear();" >
      <input type="button" id="createControl_FromDatabase" value="createControl_FromDatabase" onclick="createControl_FromDatabase();" >
      <input type="text" id="inputControl" >
</div>


<!-- <ng-template *ngIf="x === ; then first; foo === 2; then second else third" ></ng-template> -->
<!-- create mDivs -->
<div *ngFor="let container of containers;let i=index" class="mdivs"  [id]="'mdiv'+i">

<!-- create contentDivs -->
<div  attr.fieldType = "{{FieldType}}"  class = "contentDivClass" [id]="'contentDiv'+i">

<!-- create label -->
<label [id]="'label'+i">{{LabelName[i]}}</label>
</div>

<!-- create childDiv -->
<div [id]="'ChildDiv'+i" class = "childdivclass">

  <!-- <ng-template *ngIf="{{FieldType}} === 'CONTROL_TEXT' "; then first; ></ng-template> -->

  <ng-container let foo of {{FieldType}} [ngSwitch]=foo>
    <div *ngSwitchCase="CONTROL_TEXT">First</div>
    <div *ngSwitchCase="CONTROL_DROPDOWN">Second</div>
    <div *ngSwitchDefault>Third</div>
  </ng-container>

  <!-- create inputText -->
  <input #first type="text" class = "textValueClass" [id]="'textValue'+i"/>
  
</div>
</div>