

<div id="example">
  <ul id="menu">
                <li>
                    Products
                    <ul >
          <li  label="textName" fieldType="CONTROL_TEXT" (click)="forDiv($event)">textName</li>
          <li  label="List" fieldType="CONTROL_DROPDOWN" (click)="forDiv($event)">List</li>
          <li  label="operation" fieldType="CONTROL_OPERATOR" (click)="forDiv($event)">operation</li>
          <li  label="dateTime" fieldType="CONTROL_DATETIME" (click)="forDiv($event)">dateTime</li>
          <li  label="bool" fieldType="CONTROL_BOOLEAN" (click)="forDiv($event)">bool</li>
          <li  label="tag" fieldType="CONTROL_TAG" (click)="forDiv($event)">tag</li>
          <li  label="textOp" fieldType="CONTROL_textOp" (click)="forDiv($event)">textOp</li>
                  </ul>
             </li>
        </ul>
      <input type="button" id="getAll" value="GET VALUES" onclick="getValues();">
      <input type="button" id="clearAll" value="CLEAR ALL" onclick="buttonClear();" >
      <input type="button" id="createControl_FromDatabase" value="createControl_FromDatabase" onclick="createControl_FromDatabase();" >
      <input type="text" id="inputControl" >
</div>


<!-- create mDivs -->
<div class="mdivs" *ngFor="let container of containers; let i=index" [id]="'mdiv'+i"></div>

<!-- create contentDivs -->
<div   attr.fieldType = "{{FieldType}}" *ngFor="let container of MainContainer; let i=index" class = "contentDivClass" [id]="'contentDiv'+i"></div>

 

